<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding *ngIf="!lampsService.lamps || !lampsService.lamps.length">
    <h1>No lamp configured</h1>
    <ion-button expand="block" (click)="configure()">Configure</ion-button>
  </ion-card>

  <ion-card padding *ngFor="let lamp of lampsService.lamps" (click)="openLamp(lamp)">
    <ion-card-title color="primary">{{ (lamp.information?.name) || lamp.ip }}</ion-card-title>
    <ion-card-content>
      <ion-item>
          <ion-avatar class="lamp-status" slot="start">
              <ion-icon size="large" [color]="lamp.connected ? 'success': 'light'" name="bulb"></ion-icon>
            </ion-avatar>
        <ion-label>
          <h3>{{(lamp.information?.groupName) || lamp.mac}}</h3>
          <h4>{{lamp.network}}</h4>
        </ion-label>
  
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="configure()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>